from pathlib import Path

# If the debug mode is turned on with `DEBUG = True`, additional features are
# enabled that support development and debugging, such as keyboard shortcuts,
# extra logging and psychedelic colors.
DEBUG = False

# The terminal mode is one of the built-in modes of operation. At this time,
# modes 'logistics' and 'office' are available.
TERMINAL_MODE = 'office'

# The terminal name and password are submitted along with the smartcard details
# to the web server.
TERMINAL_NAME = 'entrance'
TERMINAL_PASSWORD = "insecure example password, don't use!"

# In order to be able to recover from interruptions of network connectivity,
# all outgoing and incoming data is logged. Make sure the path is writable.
# SMARTCARD_LOGFILE_PATH = '/var/log/LoST/smartcards.log'
SMARTCARD_LOGFILE_PATH = Path(__file__).resolve().parent.parent / 'smartcards.log'

# The server address and URL that captured smartcard details are posted to.
# To facilitate testing and development, use 'built-in' as the server name.
# This will start and use the server that is built into this program
# and that will reply with technically correct but otherwise contrived data.
# The testing server will be bound to 'localhost' and can act in place of a
# full Lori server when true content is not required.
# Examples:
#   # Starts and uses the built-in server at 'localhost':
#   SERVER_ADDRESS = ('built-in', 8000)
#   # Uses an external, different server at 'localhost':
#   SERVER_ADDRESS = ('localhost', 8000)
SERVER_ADDRESS = ('built-in', 8000)
SERVER_URL = '/submit/'
